@model HelloMVC.Models.Actor
<html>
<head>
    <title>Actor Detail</title>
</head>
<body>
    <h2>Actor Detail</h2>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>@Model.ActorID</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@($"{Model.FirstName} {Model.LastName}")</td>
        </tr>
    </table>
</body>
</html>